<% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages.each do |error_msg| %>
          <li><%= error_msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for [@user, @task] do |f| %>
    <div>
      <%= f.check_box :is_complete %> Completed
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= image_tag @task.image %>
      <br/>
      Upload/Update Image
      <%= f.file_field :image %>
    </div>
    <div>
      <%= f.label :assigned_to%>
      <%= collection_select(:task, :assigned_to, @users, :id, :display_name) %>
    </div>
    <div>
      <%= f.submit "Submit", class: "button" %>
    </div>
<% end %>