<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Rails-ify", "/" %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
          <li>
            <%= link_to "Sign Out (#{current_user.first_name})", destroy_user_session_path, method: :DELETE %>
          </li>
      <% else %>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
      <% end %>
      <li class="has-dropdown">
        <a href="#">Other Pages</a>
        <ul class="dropdown">
          <li>
            <%= link_to "Add Task", new_task_path %>
          </li>
          <li>
            <%= link_to "All Users/Tasks", users_path %>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to 'All Users', users_path %></li>
      <% if user_signed_in? %>
          <li><%= link_to 'My Tasks', current_user %></li>
      <% end %>
    </ul>
  </section>
</nav>